@model Phaseinventorytracker.Models.User

@{
    ViewData["Title"] = "Login";
}
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>
<form asp-controller="Login" asp-action="Login" method="post">

    <div style="box-shadow: 0 3px 15px 0 #918B8B;
    position:fixed;
    top: 50%;
    left: 50%;
    width:25em;
    height:26.5em;
    margin-top: -20em;
    margin-left: -11em;">

        <h2 style="text-align:center">Login</h2>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger">
            <label style="position:relative;top:.5em; left: 1.11em;
        color: black" asp-for="Username" class="col-md-1 control-label"></label>
            <div>
                <input style="position:relative;  top:2em; height: 1cm" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label style="position:relative;top:2.5em; left: 1.11em"
                   asp-for="Password" class="col-md-1 control-label"></label>
            <div>
                <input style="position:relative;top:4em; height: 1cm" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        <input style="top: 4.3em; left:10%;
                            position: relative;
                            vertical-align: top;
                            width: 100%;
                            height: 50px;
                            padding: 0;
                            font-size: 22px;
                            color: white;
                            text-align: center;
                            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                            background: #34495e;
                            border: 0;
                            border-bottom: 2px solid #263849;
                            cursor: pointer; "
               type="submit" value="Login"
               class="btn btn-default" />
        <div>
            <a style="position: relative; top: .8em;
        left: 9em" asp-action="Home">Back to List</a>
        </div>
    </div>
</form>