﻿@model Phaseinventorytracker.Models.User

@{
    ViewData["Title"] = "Register";
}

    <div style="box-shadow: 0 3px 15px 0 #918B8B;
    position:fixed;
    top: 50%;
    left: 50%;
    width:32em;
    height:40em;
    margin-top: -25em;
    margin-left: -18em;">
    <form asp-action="Register">
     <h1 style="text-align:center">Sign Up</h1>
     <hr />
     <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label style="position:relative;left: 5.7em;  top: .2em" asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style=" position:relative;  top:2em; height: 1cm" asp-for="Username" class="form-control" />
                <span asp-alidation-for="Username" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label style="position:relative;left: 5.7em; top: 2.2em" asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style=" position:relative;  top:4em; height: 1cm" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label style="position:relative;left: 5.7em; top: 4.2em" asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style=" position:relative;  top:6em; height: 1cm" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="position:relative;left: 5.7em; top: 6.2em" asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style=" position:relative;  top:8em; height: 1cm" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <input style="top: 7.8em; left:.2em; position: relative;
  vertical-align: top;
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer; " type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a style="position: relative; top: 4em; left: 12.8em" asp-action="Index">Back to List</a>
</div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}