﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    TEAM 2<br />
    Hammond, LA<br />
    <abbr title="Phone">P:</abbr>
    999.555.1111
</address>

If in need of assistance, contact us by....
<address>
    <strong>Email:</strong> <a href="mailto:kevin.kraus.selu.edu">Team 2</a><br />
    <strong><abbr title="Phone">P:</abbr>985.778.6227</strong></address>