﻿@model IEnumerable<Phaseinventorytracker.Models.User>
@{
    ViewData["Title"] = "Home Page";
}
<environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

        <h1 style="text-shadow: 0 5px 2px rgba(88, 88, 88, 88); font-size: 70px;
                   text-align: center; position: fixed; top: 40%; left: 25%
                    ">Phase Inventory Tracker</h1>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        </div>
</div>
