@model Phaseinventorytracker.Models.InventoryItem

@{
    ViewData["Title"] = "Create";
}
<div style="box-shadow: 0 3px 15px 0 #918B8B;
    position:fixed;
    top: 50%;
    left: 50%;
    width:32em;
    height:100em;
    margin-top: -25em;
    margin-left: -18em;">
</div>

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>InventoryItem</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CreatedByUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedByUserId" class="form-control" />
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}