﻿@model Phaseinventorytracker.Models.InventoryItem

@{
    ViewData["Title"] = "Purhcase";
}

<h2>Purchase</h2>

<form asp-action="Purchase">
    <div class="form-horizontal">
        <h4>InventoryItem</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label">Purchase Quantity</label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Purchase" class="btn btn-default" id="purchaseButton" />
                <script>
                    purchaseButton.va
                </script>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}